name: tagpr
on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
        token: ${{ secrets.GH_PAT }}
    - uses: Songmu/tagpr@7191605433b03e11b313dbbc0efb80185170de4b # v1.9.0
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
