name: tagpr
on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
        token: ${{ secrets.GH_PAT }}
    - uses: Songmu/tagpr@7191605433b03e11b313dbbc0efb80185170de4b # v1.9.0
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
